In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from statsmodels.tsa.stattools import adfuller

In [58]:
port_list = pd.read_csv("Port List.csv")
fysm = port_list['fsym_id']

start_date = pd.to_datetime('1/1/99')
end_date = pd.to_datetime('6/6/21')

    #raw price dataframe
    price_df = pd.read_csv("Raw_Price_Bollinger.csv", header = 0, index_col = 0, parse_dates=True, skiprows=4)
    price_df = price_df.transpose()

#raw volume dataframe
vol_df = pd.read_csv("Raw_Volume_Bollinger.csv", header = 0, index_col = 0, parse_dates=True, skiprows=4)
vol_df = volume_df.transpose()

In [78]:

port_list

   Company ticker/ID                      Name   fsym_id
0     5201 JT Equity                   AGC INC  P3748M-R
1     2802 JT Equity          AJINOMOTO CO INC  MXWT3L-R
2      AWC AT Equity               ALUMINA LTD  BPQW7F-R
3      BHP AT Equity             BHP GROUP LTD  GGJT5L-R
4     6367 JT Equity     DAIKIN INDUSTRIES LTD  RL95QP-R
..               ...                       ...       ...
56     GLD US Equity          SPDR GOLD SHARES  GZJLRW-R
57     UNP US Equity        UNION PACIFIC CORP  M1FW60-R
58       X US Equity  UNITED STATES STEEL CORP  GRRFYN-R
59     WMT US Equity               WALMART INC  CSMTMQ-R
60     WHR US Equity            WHIRLPOOL CORP  DH79H0-R

[61 rows x 3 columns]

In [60]:
#forward fill method
ffill_price_df = price_df.fillna(method = 'ffill')
ffill_price_df

fsym_id,P3748M-R,MXWT3L-R,BPQW7F-R,GGJT5L-R,RL95QP-R,P9VWPQ-R,BFTZ4L-R,DVRN0C-R,R4NT59-R,JXNS5C-R,...,CJV3MW-R,KFMMZS-R,F9BLWF-R,W3D4XL-R,LHKN8Z-R,GZJLRW-R,M1FW60-R,GRRFYN-R,CSMTMQ-R,DH79H0-R
01/01/1999,3505.0,1200.0,2.127563,5.085335,1120.0,3870.0,62.96272,1800.0,2157.6930,NaN,...,23.343750,21.375,24.56250,21.921875,33.16883,NaN,11.265625,23.0000,40.71875,55.3750
01/02/1999,3505.0,1200.0,2.127563,5.085335,1120.0,3870.0,62.96272,1800.0,2157.6930,NaN,...,23.343750,21.375,24.56250,21.921875,33.16883,NaN,11.265625,23.0000,40.71875,55.3750
01/03/1999,3505.0,1200.0,2.127563,5.085335,1120.0,3870.0,62.96272,1800.0,2157.6930,NaN,...,23.343750,21.375,24.56250,21.921875,33.16883,NaN,11.265625,23.0000,40.71875,55.3750
01/04/1999,3335.0,1155.0,2.110266,5.132300,1144.0,3830.0,62.96272,1790.0,2137.5130,NaN,...,23.328125,20.875,24.21875,21.656250,32.77194,NaN,11.234375,23.4375,40.31250,55.9375
01/05/1999,3355.0,1198.0,2.054050,4.950364,1139.0,3760.0,62.96272,1755.0,2139.0654,NaN,...,23.203125,21.125,24.71875,22.187500,33.22553,NaN,11.609375,24.5000,40.62500,56.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
06/02/2021,4830.0,2507.0,1.720000,49.390000,21300.0,25995.0,5900.00000,5250.0,53700.0000,807000.0,...,55.230000,303.660,105.23000,87.740000,367.21000,178.77,224.450000,26.1200,141.35000,236.7800
06/03/2021,4815.0,2595.5,1.740000,49.590000,21505.0,26390.0,5990.00000,5390.0,54480.0000,812000.0,...,55.380000,302.880,105.00000,87.720000,366.51000,175.27,224.950000,25.8900,141.60000,233.9600
06/04/2021,4870.0,2602.5,1.725000,48.750000,21250.0,25800.0,5840.00000,5420.0,54300.0000,809000.0,...,55.750000,303.350,105.34000,87.910000,377.51000,177.16,226.170000,26.2600,141.85000,233.5400
06/05/2021,4870.0,2602.5,1.725000,48.750000,21250.0,25800.0,5840.00000,5420.0,54300.0000,809000.0,...,55.750000,303.350,105.34000,87.910000,377.51000,177.16,226.170000,26.2600,141.85000,233.5400
06/06/2021,4870.0,2602.5,1.725000,48.750000,21250.0,25800.0,5840.00000,5420.0,54300.0000,809000.0,...,55.750000,303.350,105.34000,87.910000,377.51000,177.16,226.170000,26.2600,141.85000,233.5400

In [82]:
#removing non-business days
from pandas.tseries.offsets import BDay

isBusinessDay = BDay().is_on_offset
match_date = pd.to_datetime(price_df.index).map(isBusinessDay)
bus_day_price_df = price_df[match_date]
bus_day_price_df = bus_day_price_df.fillna(method = 'ffill')

bus_day_vol_df = price_df[match_date]
bus_day_vol_df = bus_day_vol_df.fillna(method = 'ffill')
bus_day_vol_df

fsym_id,P3748M-R,MXWT3L-R,BPQW7F-R,GGJT5L-R,RL95QP-R,P9VWPQ-R,BFTZ4L-R,DVRN0C-R,R4NT59-R,JXNS5C-R,...,CJV3MW-R,KFMMZS-R,F9BLWF-R,W3D4XL-R,LHKN8Z-R,GZJLRW-R,M1FW60-R,GRRFYN-R,CSMTMQ-R,DH79H0-R
01/01/1999,3505.0,1200.0,2.127563,5.085335,1120.0,3870.0,62.96272,1800.0,2157.6930,NaN,...,23.343750,21.375000,24.56250,21.921875,33.168830,NaN,11.265625,23.0000,40.71875,55.3750
01/04/1999,3335.0,1155.0,2.110266,5.132300,1144.0,3830.0,62.96272,1790.0,2137.5130,NaN,...,23.328125,20.875000,24.21875,21.656250,32.771940,NaN,11.234375,23.4375,40.31250,55.9375
01/05/1999,3355.0,1198.0,2.054050,4.950364,1139.0,3760.0,62.96272,1755.0,2139.0654,NaN,...,23.203125,21.125000,24.71875,22.187500,33.225530,NaN,11.609375,24.5000,40.62500,56.0000
01/06/1999,3450.0,1204.0,2.002158,5.098451,1122.0,3760.0,60.49359,1780.0,2162.3499,NaN,...,23.968750,20.781250,25.25000,22.578125,31.439514,NaN,12.265625,27.4375,41.31250,55.7500
01/07/1999,3530.0,1230.0,2.002158,5.061218,1143.0,3650.0,60.49359,1817.0,2126.6470,NaN,...,23.859375,20.515625,25.03125,22.406250,30.844177,NaN,12.093750,26.9375,42.06250,54.0625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
05/31/2021,4780.0,2516.0,1.715000,47.850000,21605.0,26300.0,5900.00000,5080.0,53870.0000,819000.0,...,52.210000,306.520000,105.12000,87.260000,365.870000,178.38,224.730000,25.9300,142.03000,237.0900
06/01/2021,4870.0,2498.5,1.705000,47.910000,21700.0,26260.0,5930.00000,5250.0,53910.0000,825000.0,...,54.220000,304.080000,105.53000,88.480000,365.620000,177.90,225.030000,26.6700,141.66000,237.8300
06/02/2021,4830.0,2507.0,1.720000,49.390000,21300.0,25995.0,5900.00000,5250.0,53700.0000,807000.0,...,55.230000,303.660000,105.23000,87.740000,367.210000,178.77,224.450000,26.1200,141.35000,236.7800
06/03/2021,4815.0,2595.5,1.740000,49.590000,21505.0,26390.0,5990.00000,5390.0,54480.0000,812000.0,...,55.380000,302.880000,105.00000,87.720000,366.510000,175.27,224.950000,25.8900,141.60000,233.9600
06/04/2021,4870.0,2602.5,1.725000,48.750000,21250.0,25800.0,5840.00000,5420.0,54300.0000,809000.0,...,55.750000,303.350000,105.34000,87.910000,377.510000,177.16,226.170000,26.2600,141.85000,233.5400

In [83]:
def build_bands(data, width = 2, lookback = 20):
    # width = 2
    # lookback = 20
    df = data.copy()
    df[name + ' SMA'] = df[name].rolling(lookback).mean()
    df[name + ' UB'] = df[name + ' SMA'] + (df[name].rolling(lookback).std() * width) #upper band
    df[name + ' LB'] = df[name + ' SMA'] - (df[name].rolling(lookback).std() * width) #lower band
   # df[df[name] > df[name + 'UB']].astype(int) * -1 + df[df[name] < df[name + 'LB']].astype(int) 
    df[name + ' B%'] = (df[name] - df[name + ' LB']) / (df[name + ' UB'] - df[name + ' LB'] )
    
    
    df = df.reindex(sorted(df.columns), axis=1)
    return df

In [84]:
%time
bb_price_df = build_bands(bus_day_price_df)
bb_vol_df = build_bands(bus_day_vol_df)

CPU times: user 2 Âµs, sys: 0 ns, total: 2 Âµs
Wall time: 6.2 Âµs

In [85]:
bb_vol_df

fsym_id,B5PNYT-R,B5PNYT-R_LB,B5PNYT-R_UB,B5PNYT-R_rolling_avg,B8374S-R,B8374S-R_LB,B8374S-R_UB,B8374S-R_rolling_avg,BCHSGV-R,BCHSGV-R_LB,...,WZJV6H-R_UB,WZJV6H-R_rolling_avg,X8RWRY-R,X8RWRY-R_LB,X8RWRY-R_UB,X8RWRY-R_rolling_avg,XMQW60-R,XMQW60-R_LB,XMQW60-R_UB,XMQW60-R_rolling_avg
01/01/1999,11.179584,NaN,NaN,NaN,41.766174,NaN,NaN,NaN,27.156250,NaN,...,NaN,NaN,2720.0,NaN,NaN,NaN,1452.0,NaN,NaN,NaN
01/04/1999,11.549990,NaN,NaN,NaN,41.311050,NaN,NaN,NaN,26.937500,NaN,...,NaN,NaN,2640.0,NaN,NaN,NaN,1421.0,NaN,NaN,NaN
01/05/1999,11.933322,NaN,NaN,NaN,42.151276,NaN,NaN,NaN,27.140625,NaN,...,NaN,NaN,2620.0,NaN,NaN,NaN,1402.0,NaN,NaN,NaN
01/06/1999,12.549989,NaN,NaN,NaN,43.831726,NaN,NaN,NaN,27.468750,NaN,...,NaN,NaN,2650.0,NaN,NaN,NaN,1407.0,NaN,NaN,NaN
01/07/1999,12.499989,NaN,NaN,NaN,43.271576,NaN,NaN,NaN,27.156250,NaN,...,NaN,NaN,2750.0,NaN,NaN,NaN,1351.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
05/31/2021,30.660000,28.433125,31.165375,29.79925,39.670000,34.839531,42.826469,38.8330,70.810000,69.713670,...,45.468741,44.2125,18855.0,17566.674330,19181.325670,18374.00,7929.0,7447.423587,8113.076413,7780.25
06/01/2021,30.530000,28.422082,31.223918,29.82300,40.980000,34.821432,43.035568,38.9285,70.570000,69.844277,...,46.019293,44.3485,18940.0,17552.642603,19244.357397,18398.50,7900.0,7448.413431,8109.286569,7778.85
06/02/2021,30.535000,28.437775,31.187225,29.81250,40.000000,34.834298,42.962702,38.8985,70.830000,70.027736,...,46.584456,44.4795,19440.0,17482.100365,19413.899635,18448.00,7987.0,7444.769250,8118.830750,7781.80
06/03/2021,30.125000,28.437991,31.191009,29.81450,38.720000,34.802294,42.877706,38.8400,71.270000,70.027459,...,47.025121,44.6305,19475.0,17422.658442,19559.341558,18491.00,8076.0,7432.622609,8146.077391,7789.35
06/04/2021,30.550000,28.475766,31.114234,29.79500,38.840000,34.839746,42.604254,38.7220,71.520000,70.009362,...,47.295074,44.7260,19455.0,17393.299859,19694.200141,18543.75,8044.0,7428.512902,8155.087098,7791.80